.ActivityWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 30px;

    >.Subtitle{
        color: #213f7d;
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0;
        margin-bottom: 5%;
    }

    >.BoxContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;

        >.box{
            width: 240px;
            height: 160px;
            background: #fff;
            box-shadow: 0 0 3px rgba(33, 63, 125, 0.08);
            border-radius: 4px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 5px;

            &:hover{
                scale: 1.05;
            }

            >.iconBg{
                border-radius: 50%;
                height: 40px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            >span{
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0;
                text-transform: uppercase;
                color: #545f7d;
            }
            
            >h3{
                color: #213f7d;
                font-weight: 600;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0;
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .ActivityWrapper{

        .BoxContainer{
            gap: 15px;

            .box{

                &:last-child{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .ActivityWrapper{
        width: 100%;

        .BoxContainer{
            gap: 10px;
            align-items: center;

            .box{
                max-width: 182px;
            }
        }
    }
}