.DashboardWrapper{
    padding-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;

    >.actData{
        width: 100%;
        max-width: 1037px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .DashboardWrapper{
        padding: 0;

        >.actData{
            width: 100%;
            max-width: 750px;
        }
    }
}

@media (max-width: 768px) {
    .DashboardWrapper{
        padding: 0 ;

        >.actData{
            width: 100%;
            max-width: 480px;
        }
    }
}